<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Enginetastic</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<div id="container">
<div id="header"><h1><a href="http://enginetastic.appspot.com">Enginetastic</a></h1></div>
  <div id="wrapper">
    <div id="content">
      <p><strong>Main Content</strong></p>
      <p>Sapibulumnibh phasellus nulla egestibulum enim pretium elit tincidunt estiquam ultrisque donectetur. Sedcondimentumsan odio hendrerit proin vitae dignis nibh ac justo id congue. Amesintesque vel curabitae volutpat donec alique nasceleifendimentesque montesque rhoncus quis eros. Vestnunc nonummy</p>
      <p>Montegeraliquam sed pede in cursus praesenec vestas rhoncus wisi at wisi. Condisseloborttis enim et ipsum mauristie id felit adipiscipit ac auctortorttitor sempor. Vitantesqueat sempus non sed et mus sit vivamus purus netus hendiment. Pretiuma diam et id tempus dolor por wisi sed volutpat facilisi.</p>
      <p>Wisiet sus adipit phasellentum elit condissim consecteturpiscing sapien vivamus et congue. Utvel tris quismod cursus liberos elit nisse curabitur tur parturpis tellenterdum. Semperligula curabitae tellentesque nulla trices vestas ristibulum id justo auctor facinia. Natisdonec consequat nibh pellus.</p>
      <p>Vestibusodio euisque id elerisus lacus tincidunt sit malesuada lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat nulla convallis pellentesque.</p>
      <p>Sapibulumnibh phasellus nulla egestibulum enim pretium elit tincidunt estiquam ultrisque donectetur. Sedcondimentumsan odio hendrerit proin vitae dignis nibh ac justo id congue. Amesintesque vel curabitae volutpat donec alique nasceleifendimentesque montesque rhoncus quis eros. Vestnunc nonummy</p>

      <div id="dbdump">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
		{% for greeting in greetings %}
		{% if greeting.author %}
		{{ greeting.author.nickname }} wrote this:
		{% else %}
		An anonymous person wrote:
		{% endif %}
<blockquote>{{ greeting.content|escape }}</blockquote>
({{greeting.date}})
<br>
---------------------------
<br>
{% endfor %}
</p>
      </div>

      <p>
      	<form action="/sign" method="post">
      	<div><textarea name="content" rows="2" cols="40"></textarea></div>
      	<div><input type="submit" value="Sign Guestbook"></div>
    	</form>		
<!--
		Url for the Spider Start!
		<form action="/spider" method="post">
		<div><textarea name="start_url" rows="1" cols="40"></textarea></div>
		<div><input type="submit" value="Start"></div>
		</form>
-->
	<br>
      </p>

    </div>
  </div>
  <div id="navigation">
    <p><strong>Navigation Here</strong></p>
    <ul>
      <li><a href="{{ url }}">{{ url_linktext }}</a></li>
      <li><a href="{{ spider_url }}">{{ spider_link_text }}</a></li>
      <li><a href="{{ ti3_url }}">{{ ti3_link_text }}</a></li>
      <li><a href="http://google.com/ncr">Google</a></li>
      <!--<li><a href="http://python.org/">Python</a></li>-->
      <!--<li><a href="http://www.free-css.com/free-css-layouts.php">Free CSS Layouts</a></li>-->
    </ul>
  </div>
  <div id="extra">
    <p><strong>More stuff here.</strong></p>
    <p>sit malesuada lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat nulla convallis pellentesque.</p>
    <p>Total Bytes on the DB: {{ total_bytes }}</p>
    <p>Entry number: {{ entry_num }}</p>
  </div>
  <div id="logos">
  <img src="http://python.org/community/logos/python-powered-w-100x40.png" alt="egg and spam" />
  </div>
  <div id="footer">
    <p>Footer</p>
  </div>
</div>
</body>
</html>
